{%
  set classes = [
    'node',
    'node-detail',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}

{% if view_mode == 'teaser' %} 
  
  <div class="service-block grid teaser-1">      
    <div class="service-top">
      <div class="service-images lightGallery">
        {{ content.field_service_images }}
      </div>
      {% if link_contact_form_service %}
        <div class="service-contact">
          <a class="use-ajax" data-dialog-options="{&quot;width&quot;:800,&quot;dialogClass&quot;:&quot;webform-modal&quot;}" data-dialog-type="modal" href="{{link_contact_form_service}}?title={{ node.title.value|e('url') }}">
            <i class="gv-icon-239"></i>
          </a>
        </div>
      {% endif %}
      <h3 class="title"><a href="{{ url }}" rel="bookmark">{{ label }}</a></h3>
    </div>
    <div class="service-content">
       <div class="content-inner">
          <div class="desc">{{ content.body }}</div>
       </div>    
    </div>
  </div>

{% elseif view_mode == 'teaser_2' %}

  <div class="service-block grid teaser-2">      
    <div class="service-images lightGallery">{{ content.field_service_images }}
      {% if node.field_service_icon.value %}
        <div class="service-icon"><i class="{{ node.field_service_icon.value }}"></i></div>
      {% endif %}
      <h3 class="title"><a href="{{ url }}" rel="bookmark">{{ label }}</a></h3>
    </div>
    <div class="service-content">
       <div class="content-inner">
          <h3 class="title"><a href="{{ url }}" rel="bookmark">{{ label }}</a></h3>
          <div class="desc">{{ content.body }}</div>
          <div class="service-action clearfix">
            <div class="service-readmore"><a href="{{ url }}">{{'Read more'|t}}&nbsp;&nbsp;<i class="gv-icon-165"></i></a></div>
            {% if link_contact_form_service %}
              <div class="service-contact">
                <a class="use-ajax" data-dialog-options="{&quot;width&quot;:800,&quot;dialogClass&quot;:&quot;webform-modal&quot;}" data-dialog-type="modal" href="{{link_contact_form_service}}?title={{ node.title.value|e('url') }}">
                  <i class="gv-icon-226"></i>&nbsp;&nbsp;{{'Contact'|t}}
                </a>
              </div>
            {% endif %}
          </div>  
       </div>    
    </div>
  </div>

  {% elseif view_mode == 'teaser_3' %}

  <div class="service-block grid teaser-3">      
    <div class="service-icon"><i class="{{ node.field_service_icon.value }}"></i></div>
    <div class="service-content">
       <div class="content-inner">
          <h3 class="title"><a href="{{ url }}" rel="bookmark">{{ label }}</a></h3>
          <div class="desc">{{ content.body }}</div>
          <div class="service-action clearfix">
            <div class="service-readmore"><a href="{{ url }}">{{'Read more'|t}}&nbsp;&nbsp;</a></div>
            {% if link_contact_form_service %}
              <div class="service-contact">
                <a class="use-ajax" data-dialog-options="{&quot;width&quot;:800,&quot;dialogClass&quot;:&quot;webform-modal&quot;}" data-dialog-type="modal" href="{{link_contact_form_service}}?title={{ node.title.value|e('url') }}">
                  <i class="gv-icon-226"></i>&nbsp;&nbsp;{{'Contact'|t}}
                </a>
              </div>
            {% endif %}
          </div>  
       </div>    
    </div>
  </div>

{% else %}

<article{{ attributes.addClass(classes) }}>
  <div class="service-block grid">
    <div class="service-images-inner">
      {{ content.field_service_images }}
    </div>
    <div class="post-content">
      {{ title_prefix }}
         <h1{{ title_attributes.addClass('post-title margin-top-20 margin-bottom-10') }}>{{ label }}</h1>
      {{ title_suffix }}      
      <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
        {{ content|without('field_service_images', 'field_service_icon', 'comment') }}
      </div>
      <div id="node-single-comment">
        <div id="comments">
          {{ content.comment }}
        </div>  
      </div>

    </div>

  </div>

</article>

<!-- End Display article for detail page -->
{% endif %}